{	
	"DATETIME": "Mon, 2024-01-08 10:54:53",
	"MODBUS_PAR_ID": "xXc32t",
	"MODBUS_PAR_TYPE": "42",
	"MODBUS_PAR_HEATER1_POWER": "250",
	"MODBUS_PAR_HEATER2_POWER": "500",
	"MODBUS_PAR_HEATER3_POWER": "1000",
	"MODBUS_PAR_ARTICLE_NUMBER": "local test",
	"MODBUS_PAR_ARTICLE_NAME": "Leipzig.Testbox",
	"MODBUS_PAR_SOFTWARE_VERSION": "4.6.1",
	"MODBUS_PAR_HARDWARE_VERSION": "HW 1.3",
	"MODBUS_PAR_HEATER4_POWER": "0",
	"MODBUS_PAR_HEATER5_POWER": "0",
	"MODBUS_PAR_HEATER6_POWER": "0",
	"MODBUS_PAR_NUMBER_OF_STEPS": "7",
	"MODBUS_PAR_NUMBER_OF_HEATER": "3",
	"MODBUS_PAR_MAX_POWER": "1750"
}
